# **Attempt #3**
  * In addition to "EIN" and "NAME" columns, "STATUS" and "SPECIAL_CONSIDERATIONS" columns also dropped off before statrting creating the model.   
  * Number of epochs decreased to 50.
  * Binning structure of "CLASSIFICATION" column has changed.
  * Two new hidden layers were added.

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','NAME','STATUS','SPECIAL_CONSIDERATIONS'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts_df = pd.DataFrame(application_df['APPLICATION_TYPE'].value_counts())
value_counts_df.reset_index(inplace=True)
application_types_to_replace = []
for v in range(len(value_counts_df['APPLICATION_TYPE'])):
  if (value_counts_df['APPLICATION_TYPE'][v] < 500) :
    application_types_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
value_counts_df = pd.DataFrame(application_df['CLASSIFICATION'].value_counts())
value_counts_df.reset_index(inplace=True)
classifications_to_replace = []
for v in range(len(value_counts_df['CLASSIFICATION'])):
  if (value_counts_df['CLASSIFICATION'][v] < 1000) :
    classifications_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_numeric["IS_SUCCESSFUL"].values
X = application_df_numeric.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-10-b2543bef6586>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_numeric.drop(["IS_SUCCESSFUL"],1).values

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 60
hidden_nodes_layer4 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4100

 dense_1 (Dense)             (None, 80)                8080

 dense_2 (Dense)             (None, 60)                4860

 dense_3 (Dense)             (None, 40)                2440

 dense_4 (Dense)             (None, 1)                 41

=================================================================
Total params: 19,521
Trainable params: 19,521
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5694 - accuracy: 0.7225
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7307
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7324
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7316
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7344
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7351
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7371
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7357
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7372
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7365
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7375
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7375
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7378
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7384
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7384
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7394
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7398
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7396
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7399
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7396

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5582 - accuracy: 0.7301 - 625ms/epoch - 2ms/step
Loss: 0.5581795573234558, Accuracy: 0.7301457524299622

In [16]:
# Export our model to HDF5 file
nn.save("Output/AlphabetSoupCharity_Attempt3.h5")